<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DigiELV Automation Suite">
    <test name="All Tests">
        <packages>
            <package name="Buyer_MenuTabs"/>
            <package name="Seller_MenuTabs"/>
            <package name="CDRegisteration"/>
            <package name="UserRegistration"/>
        </packages>
    </test>
</suite>
